RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^leads$ leads.php [L]
RewriteRule ^events$ events.php [L]
RewriteRule ^auth$ auth.php [L]
RewriteRule ^profile$ profile.php [L]
RewriteRule ^activities$ activities.php [L]
